<form method="post" action="{{ path('ad_delete', {'slug': annonce.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.slug) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
